nifi-twitter-flow.json
{"flowContents":{"identifier":"ebab175e-3d7d-3430-8b66-15c2291f7e3d","instanceIdentifier":"5447b40a-0183-1000-ffff-ffffd4af2f9e","name":"Twitter Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"c29e6481-29eb-328d-8bc7-29b3a01603fc","instanceIdentifier":"b26a7f87-76ed-3348-ad09-c3e520eff7e5","name":"ConvertRecord","comments":"","position":{"x":608.0,"y":544.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.3.6.1-1"},"properties":{"record-writer":"18392bb3-817e-3a89-95b3-a833c808c972","record-reader":"181baad6-27d5-33d9-aca8-c90024651176","include-zero-record-flowfiles":"false"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ebab175e-3d7d-3430-8b66-15c2291f7e3d"},{"identifier":"8be41640-4788-3b6b-8233-f8ade241e219","instanceIdentifier":"5eefe3b1-cd48-3bdb-af65-6e33f798b7eb","name":"SplitJson","comments":"","position":{"x":184.0,"y":312.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.3.6.1-1"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ebab175e-3d7d-3430-8b66-15c2291f7e3d"},{"identifier":"4a8dfad0-36a4-3e53-b118-e3f303df79bb","instanceIdentifier":"406c0bc8-547d-30e6-a9b3-3a3e021fa3a1","name":"InvokeHTTP","comments":"","position":{"x":184.0,"y":-152.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.3.6.1-1"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","Authorization":"Bearer #{Twitter API v2 Bearer Token}","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://api.twitter.com/2/tweets/search/recent?query=#{Twitter Search Term}&max_results=10&tweet.fields=created_at,id,lang,text&expansions=author_id&user.fields=name,username","Content-Type":"${mime.type}","form-body-form-name":null,"flow-file-naming-strategy":"RANDOM","Cookie":"guest_id=v1%3A164989109142926423","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Basic Authentication Username":null,"oauth2-access-token-provider":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Set FlowFile Form Data File Name","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"Disable HTTP/2","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"FlowFile Form Data Name","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"Cookie":{"name":"Cookie","displayName":"Cookie","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Ignore response's content","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token provider","identifiesControllerService":true,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Useragent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"15 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ebab175e-3d7d-3430-8b66-15c2291f7e3d"},{"identifier":"57819df7-aa7d-377c-9c75-a87113a2447b","instanceIdentifier":"4b600340-569c-3cff-af28-eaaccad116e2","name":"ReplaceText","comments":"","position":{"x":608.0,"y":312.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.3.6.1-1"},"properties":{"Regular Expression":"\n","Replacement Value":". ","Evaluation Mode":"Line-by-Line","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ebab175e-3d7d-3430-8b66-15c2291f7e3d"},{"identifier":"fc033632-8068-34ea-b11f-999d18a7e33a","instanceIdentifier":"6cab2369-8857-31bc-8a1b-5847a1c6b6a6","name":"PutS3Object","comments":"","position":{"x":608.0,"y":-152.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.16.0.2.3.6.1-1"},"properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","Access Key":"#{AWS - Access Key ID}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":null,"Multipart Upload Max Age Threshold":"7 days","canned-acl":"${s3.permissions.cannedacl}","Signer Override":"Default Signature","Content Type":null,"Secret Key":"#{AWS - Secret Access Key}","Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"#{AWS S3 Bucket Subdirectory}/${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"#{AWS S3 Bucket}","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":null,"Region":"us-east-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ebab175e-3d7d-3430-8b66-15c2291f7e3d"},{"identifier":"812cb3d1-382f-3822-ad4d-59c01611d6ec","instanceIdentifier":"2bdd836f-0311-37dd-8e25-dd45e1ef8cfe","name":"MergeContent","comments":"","position":{"x":608.0,"y":80.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.3.6.1-1"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"10","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":"30 seconds","Demarcator File":"\n","Correlation Attribute Name":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"5"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ebab175e-3d7d-3430-8b66-15c2291f7e3d"},{"identifier":"ddd0d13a-23d0-3da4-b53e-f1ab2400f3ad","instanceIdentifier":"d3199838-f96a-344c-a53c-559fd5567421","name":"JoltTransformJSON","comments":"","position":{"x":184.0,"y":80.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.3.6.1-1"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": {\n        \"*\": {\n          \"*\": {\n            \"*\": \"[&1].&\"\n          },\n          \"@\": \"[&1]\"\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"cardinality\",\n    \"spec\": {\n      \"*\": {\n        \"*\": \"ONE\"\n      }\n    }\n  }\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ebab175e-3d7d-3430-8b66-15c2291f7e3d"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"50f97d7b-2e7e-3f3e-8be9-d05876a3d7d4","instanceIdentifier":"1c58c30c-7e40-345b-bd74-be3c7f3c6c52","name":"","source":{"id":"c29e6481-29eb-328d-8bc7-29b3a01603fc","type":"PROCESSOR","groupId":"ebab175e-3d7d-3430-8b66-15c2291f7e3d","name":"ConvertRecord","comments":"","instanceIdentifier":"b26a7f87-76ed-3348-ad09-c3e520eff7e5"},"destination":{"id":"57819df7-aa7d-377c-9c75-a87113a2447b","type":"PROCESSOR","groupId":"ebab175e-3d7d-3430-8b66-15c2291f7e3d","name":"ReplaceText","comments":"","instanceIdentifier":"4b600340-569c-3cff-af28-eaaccad116e2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ebab175e-3d7d-3430-8b66-15c2291f7e3d"},{"identifier":"f31fa6ba-eae8-3aa4-b848-900a59fd2f96","instanceIdentifier":"d67351cf-f489-3adc-9cd5-fb3b961442e1","name":"","source":{"id":"ddd0d13a-23d0-3da4-b53e-f1ab2400f3ad","type":"PROCESSOR","groupId":"ebab175e-3d7d-3430-8b66-15c2291f7e3d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"d3199838-f96a-344c-a53c-559fd5567421"},"destination":{"id":"8be41640-4788-3b6b-8233-f8ade241e219","type":"PROCESSOR","groupId":"ebab175e-3d7d-3430-8b66-15c2291f7e3d","name":"SplitJson","comments":"","instanceIdentifier":"5eefe3b1-cd48-3bdb-af65-6e33f798b7eb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ebab175e-3d7d-3430-8b66-15c2291f7e3d"},{"identifier":"94ceb721-2df9-34be-882a-cf08fb4dbc4e","instanceIdentifier":"aa28066f-6ef9-3547-ad05-3f21789c3406","name":"","source":{"id":"4a8dfad0-36a4-3e53-b118-e3f303df79bb","type":"PROCESSOR","groupId":"ebab175e-3d7d-3430-8b66-15c2291f7e3d","name":"InvokeHTTP","comments":"","instanceIdentifier":"406c0bc8-547d-30e6-a9b3-3a3e021fa3a1"},"destination":{"id":"ddd0d13a-23d0-3da4-b53e-f1ab2400f3ad","type":"PROCESSOR","groupId":"ebab175e-3d7d-3430-8b66-15c2291f7e3d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"d3199838-f96a-344c-a53c-559fd5567421"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ebab175e-3d7d-3430-8b66-15c2291f7e3d"},{"identifier":"e0922dde-8484-3c9b-8c2f-20143a33dccf","instanceIdentifier":"e44c4aa1-ea09-3ac1-a766-110b993a5b50","name":"","source":{"id":"812cb3d1-382f-3822-ad4d-59c01611d6ec","type":"PROCESSOR","groupId":"ebab175e-3d7d-3430-8b66-15c2291f7e3d","name":"MergeContent","comments":"","instanceIdentifier":"2bdd836f-0311-37dd-8e25-dd45e1ef8cfe"},"destination":{"id":"fc033632-8068-34ea-b11f-999d18a7e33a","type":"PROCESSOR","groupId":"ebab175e-3d7d-3430-8b66-15c2291f7e3d","name":"PutS3Object","comments":"","instanceIdentifier":"6cab2369-8857-31bc-8a1b-5847a1c6b6a6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ebab175e-3d7d-3430-8b66-15c2291f7e3d"},{"identifier":"ae6999e9-6fcb-36a7-8310-fc9745f10a30","instanceIdentifier":"8a3c11e5-384b-3f30-b5f9-7be6256a369d","name":"","source":{"id":"8be41640-4788-3b6b-8233-f8ade241e219","type":"PROCESSOR","groupId":"ebab175e-3d7d-3430-8b66-15c2291f7e3d","name":"SplitJson","comments":"","instanceIdentifier":"5eefe3b1-cd48-3bdb-af65-6e33f798b7eb"},"destination":{"id":"c29e6481-29eb-328d-8bc7-29b3a01603fc","type":"PROCESSOR","groupId":"ebab175e-3d7d-3430-8b66-15c2291f7e3d","name":"ConvertRecord","comments":"","instanceIdentifier":"b26a7f87-76ed-3348-ad09-c3e520eff7e5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ebab175e-3d7d-3430-8b66-15c2291f7e3d"},{"identifier":"d0dd7318-437f-3e98-a02f-653a85696b6d","instanceIdentifier":"8c87798a-0a19-3aad-970c-302b8f97671a","name":"","source":{"id":"57819df7-aa7d-377c-9c75-a87113a2447b","type":"PROCESSOR","groupId":"ebab175e-3d7d-3430-8b66-15c2291f7e3d","name":"ReplaceText","comments":"","instanceIdentifier":"4b600340-569c-3cff-af28-eaaccad116e2"},"destination":{"id":"812cb3d1-382f-3822-ad4d-59c01611d6ec","type":"PROCESSOR","groupId":"ebab175e-3d7d-3430-8b66-15c2291f7e3d","name":"MergeContent","comments":"","instanceIdentifier":"2bdd836f-0311-37dd-8e25-dd45e1ef8cfe"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ebab175e-3d7d-3430-8b66-15c2291f7e3d"}],"labels":[{"identifier":"3175336a-01da-3fd3-b91c-62d198ef7553","instanceIdentifier":"b3cb34d0-6609-1ae9-b123-58c43db00376","position":{"x":968.0,"y":-152.0},"label":"Add file to S3 bucket.\nParameters - \n- AWS S3 Bucket\n- AWS S3 Bucket Subdirectory\n- AWS - Access Key ID (sensitive value)\n- AWS - Secret Access Key (sensitive value)","zIndex":0,"width":264.0,"height":128.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"ebab175e-3d7d-3430-8b66-15c2291f7e3d"},{"identifier":"17b43002-8009-3eb8-92b8-8c4a8c22c785","instanceIdentifier":"a30c34f3-a344-1dee-baba-151858ca534c","position":{"x":968.0,"y":312.0},"label":"Replace new line with \". \", so it's 1 row in CSV.\nIn Search Value, press \"shift+enter\" to add \nnew line character.","zIndex":0,"width":264.0,"height":128.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"ebab175e-3d7d-3430-8b66-15c2291f7e3d"},{"identifier":"28f3cc9f-09ac-3248-a037-f502b4a8feb2","instanceIdentifier":"c9493171-9e41-1f2a-b5fe-ce32972e74f7","position":{"x":-88.0,"y":312.0},"label":"Split all JSON objects","zIndex":0,"width":264.0,"height":128.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"ebab175e-3d7d-3430-8b66-15c2291f7e3d"},{"identifier":"af83030a-62bb-3a4b-a47b-eb50400b2895","instanceIdentifier":"68853a05-ccf9-1961-a568-5f4b0ba05664","position":{"x":968.0,"y":80.0},"label":"Bundle up to 10 CSV rows in one file","zIndex":0,"width":264.0,"height":128.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"ebab175e-3d7d-3430-8b66-15c2291f7e3d"},{"identifier":"bdc4315e-de26-3e97-b023-8de9ee86682b","instanceIdentifier":"66ab3497-3997-1f7a-a42c-e24f5127ece9","position":{"x":-88.0,"y":80.0},"label":"Transform inbound tweets JSON to easily \nparseable JSON.\nTo test Jolt transformations, use \nhttps://jolt-demo.appspot.com/","zIndex":0,"width":264.0,"height":128.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"ebab175e-3d7d-3430-8b66-15c2291f7e3d"},{"identifier":"67f196ad-c6bd-305c-9ce6-63c4044cdc1b","instanceIdentifier":"36b1331f-b3db-13cd-9d06-065359185ccf","position":{"x":336.0,"y":544.0},"label":"Convert JSON to CSV","zIndex":0,"width":264.0,"height":128.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"ebab175e-3d7d-3430-8b66-15c2291f7e3d"},{"identifier":"07aaf7c3-b371-3fe5-a2fe-62665878465a","instanceIdentifier":"59c840f1-0183-1000-0000-00004d05030d","position":{"x":-88.0,"y":-152.0},"label":"Invoke Twitter API v2 -\nhttps://api.twitter.com/2/tweets/search/recent.\nUpdate query params as needed.\n\nParameters - \n- Twitter Search Term\n- Twitter API v2 Bearer Token\n\nRun Schedule - every 15 seconds","zIndex":0,"width":264.0,"height":128.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"ebab175e-3d7d-3430-8b66-15c2291f7e3d"}],"funnels":[],"controllerServices":[{"identifier":"18392bb3-817e-3a89-95b3-a833c808c972","instanceIdentifier":"698dbb4e-efe1-3cb8-8e0c-00e62eecc681","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.16.0.2.3.6.1-1"},"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"false","Value Separator":"|","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"no-schema","Null String":null,"Trim Fields":"true","schema-name":"tweetSchema","schema-registry":"42e98679-0180-1000-ffff-ffffb3a90e05","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-text-property","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"{\n    \"type\": \"record\",\n    \"namespace\": \"nifi.twtr\",\n    \"name\": \"twtr_schema\",\n    \"fields\": [\n        {\n            \"name\": \"author_id\",\n            \"type\": \"string\"\n        },\n        {\n            \"name\": \"name\",\n            \"type\": \"string\"\n        },\n        {\n            \"name\": \"username\",\n            \"type\": \"string\"\n        },\n        {\n            \"name\": \"id\",\n            \"type\": \"string\"\n        },\n        {\n            \"name\": \"created_at\",\n            \"type\": \"string\"\n        },\n        {\n            \"name\": \"lang\",\n            \"type\": \"string\"\n        },\n        {\n            \"name\": \"text\",\n            \"type\": \"string\"\n        }\n    ]\n}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.3.6.1-1"}}],"scheduledState":"DISABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ebab175e-3d7d-3430-8b66-15c2291f7e3d"},{"identifier":"181baad6-27d5-33d9-aca8-c90024651176","instanceIdentifier":"774381ce-bb06-3c74-9a57-609e4d88c6a9","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.16.0.2.3.6.1-1"},"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"tweetSchema","starting-field-strategy":"ROOT_NODE","schema-registry":"42e98679-0180-1000-ffff-ffffb3a90e05","starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.3.6.1-1"}}],"scheduledState":"DISABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ebab175e-3d7d-3430-8b66-15c2291f7e3d"}],"variables":{},"parameterContextName":"Twitter NiFi Parameter Context","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"Twitter NiFi Parameter Context":{"name":"Twitter NiFi Parameter Context","parameters":[{"name":"Twitter Search Term","description":"Specify a keyword to search for related tweets","sensitive":false},{"name":"AWS - Access Key ID","description":"","sensitive":true},{"name":"AWS - Secret Access Key","description":"","sensitive":true},{"name":"Twitter API v2 Bearer Token","description":"","sensitive":false},{"name":"AWS S3 Bucket","description":"","sensitive":false},{"name":"AWS S3 Bucket Subdirectory","description":"This is a subdirectory in the bucket, that will hold all the tweets.","sensitive":false}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0"}